<div class="container">
  <!-- <div class="row">
    <div class="col-md-12">
      <div *ngIf="showForm === true">
        <label>Profile name</label>
        <input
          type="text"
          class="form-control"
          placeholder="profile name"
          [(ngModel)]="profileName"
        />
        <label>Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="email"
          [(ngModel)]="email"
        />
        <label>Phone number</label>
        <input
          type="number"
          class="form-control"
          placeholder="Phone number"
          [(ngModel)]="pNo"
        />
        <label>Age</label>

        <input
          type="number"
          class="form-control"
          placeholder="age"
          [(ngModel)]="age"
        />
      </div>
    </div>
  </div> -->
  <div class="row">
    <div *ngIf="showForm === true">
      <div class="col-xs-3">
        <label>Profile name</label>
        <input
          type="text"
          class="control"
          placeholder="profile name"
          [(ngModel)]="profileName"
        />
      </div>
      <div class="col-xs-3">
        <label>Email</label>
        <input
          type="email"
          class="control"
          placeholder="email"
          [(ngModel)]="email"
        />
      </div>
      <div class="col-xs-3">
        <label>Phone number</label>
        <input
          type="number"
          class="control"
          placeholder="Phone number"
          [(ngModel)]="pNo"
        />
      </div>
      <div class="col-xs-3">
        <label>Age</label>

        <input
          type="number"
          class="control"
          placeholder="age"
          [(ngModel)]="age"
        />
      </div>
    </div>
  </div>

  <div class="row" *ngIf="showForm === false">
    <div class="col-md-12">
      <div
        class="panel panel-default"
        style="
          border: none;
          margin-top: 20px;
          padding: 10px 0;
          border-radius: 20px;
        "
      >
        <div class="panel-body getBG">Profile name - {{ profileName }}</div>
        <div class="panel-body getBG">Email - {{ email }}</div>
        <div class="panel-body getBG">Phone number - {{ pNo }}</div>
        <div class="panel-body getBG">Age - {{ age }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button
        class="btn primary"
        (click)="showForm = true"
        *ngIf="showForm === false"
      >
        Edit
      </button>
      <button
        class="btn success"
        (click)="showForm = false"
        *ngIf="showForm === true"
      >
        Update
      </button>
    </div>
  </div>
</div>
